presentation/*
!presentation/source/
!presentation/fikz.sty
!presentation/main.tex
!presentation/poly.sty
!presentation/xgames.sty

finalReport/*
!finalReport/sample.tex
!finalReport/aamas.cls
!finalReport/sample.bib
!finalReport/ACM-Reference-Format.bst
!finalReport/aamas2023logo.png

simulator/results/*
__pycache__/

*.png
*.csv

.DS_Store
*.zip