presentation/*
!presentation/source/
!presentation/fikz.sty
!presentation/main.tex
!presentation/poly.sty
!presentation/xgames.sty

report/*
!report/report.tex
!report/aamas.cls
!report/sample.bib
!report/ACM-Reference-Format.bst

simulator/results/*
__pycache__/

*.png
*.csv

.DS_Store
*.zip