presentation/*
!presentation/source/
!presentation/fikz.sty
!presentation/main.tex
!presentation/poly.sty
!presentation/xgames.sty

*/report/*
!*/report/report.tex
report/*
!report/report.tex

finalReport/*

simulator/results/*
__pycache__/

*.png
*.csv

.DS_Store
*.zip